:root {
    --max-height: 1px;
    --svg-rotate: rotate(180deg);
    --tab-color: rgb(255, 255, 255)
}

.accordian-select-detail {
    width: 80%;
    margin: 0 auto;
}

.div-select-detail {
    padding: 10px 10px 0px 10px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    .div-select-data-1 {
        width: fit-content;
        margin: 0 10px 10px 0;
        justify-content: left;
        div {
            margin-bottom: 3px;
        }
        .select-detail-compo {
            text-align: left;
            width: fit-content;
            min-width: fit-content;
            max-width: 200px;
            button {
                padding: 2px 10px;
            }
            button:first-child {
                pointer-events: none;
            }
        }
        .select-detail-datepicker {
            width: fit-content;
            text-align: left;
            margin-right: 15px;
            input {
                width: 100px;
            }
            .react-datepicker-wrapper {
                width: fit-content !important;
            }
            .react-datepicker-time__caption {
                display: none;
            }
            .react-datepicker__input-time-container {
                margin-left: 0;
                border-top: 1px solid black;
                .react-datepicker-time__input {
                    margin: 3px 0 0 3px !important;
                }
            }
            .break-time {
                span {
                    font-weight: bold;
                }
            }
        }
        .select-detail-datepicker:last-child {
            margin-right: 0px;
        }
    }
    .select-detail-mc {
        text-align: left;
        width: fit-content;
        min-width: fit-content;
        max-width: 200px;
        margin: 0 15px 15px 0;
        .select-detail-ct {
            max-width: 200px;
            margin-bottom: 5px;
        }
        .div-selected-value {
            display: flex;
            margin-top: 5px;
            svg {
                margin: auto 0 auto 10px;
            }
            svg:hover {
                background-color: rgb(200, 200, 200);
            }
        }
        p.selected-value {
            width: fit-content;
            max-width: max-content;
            word-wrap: break-word;
            font-weight: bold;
            background-color: rgb(223, 249, 255);
            border: 1px solid rgb(122, 122, 122);
            padding: 2px 7px;
            margin: 0 0 0 0;
            border-radius: 5px;
        }
        button:first-child {
            pointer-events: none;
        }
    }
}

.div-select-btn {
    display: flex;
    width: fit-content;
    margin-top: 5px;
    margin-left: auto;
    * {
        margin: auto 0 auto 10px;
    }
}

.get-data-spinner {
    visibility: hidden;
}

.accordion-header button {
    color: black !important;
}

.accordion-body {
    text-align: right;
}

.div-hide {
    visibility: hidden;
}

.div-summary-data,
.div-summary-timechart {
    overflow: hidden;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    width: 80%;
    margin: 10px auto 10px auto;
    .div-result-oa-btn,
    .div-result-timechart-btn {
        position: relative;
        background-color: var(--tab-color);
        transition-duration: 0.35s;
        transition-timing-function: ease-in-out;
        p {
            padding: 8px 0;
            margin-bottom: 0;
            text-align: center;
            font-weight: bold;
            font-style: italic;
            font-size: 25px;
        }
        svg {
            position: absolute;
            top: 16px;
            right: 15px;
            font-weight: 100;
            font-size: 22px;
            transition: transform 0.35s ease-in-out;
            transform: var(--svg-rotate);
        }
    }
    .div-result-oa-btn:hover,
    .div-result-timechart-btn:hover {
        cursor: pointer;
    }
}

.div-result-main {
    visibility: hidden;
    max-height: var(--max-height);
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
}

.div-result-timechart {
    visibility: hidden;
    height: var(--max-height);
    max-height: var(--max-height);
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
}

.div-result-btn-mode {
    display: flex;
    justify-content: space-between;
    margin: 0 10px 0 10px;
    .div-btn-group {
        display: flex;
        flex-flow: column;
        text-align: left;
        .refresh-btn {
            display: flex;
            .get-data-spinner {
                margin: auto 0 auto 5px;
            }
        }
    }
    div span {
        margin-right: 10px;
    }
    button:first-child {
        pointer-events: none;
    }
}

.div-result-oa {
    padding: 0 1%;
    margin: 0 auto 10px auto;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    padding-top: 30px;
    .div-chart {
        height: 500px;
        width: 70%;
        div div svg g g text {
            font-size: 20px !important;
            tspan {
                font-size: 12px;
            }
        }
    }
    .div-data {
        width: 30%;
        .table-sumdata {
            tbody {
                tr {
                    :last-child {
                        font-weight: bold;
                        font-size: 18px;
                    }
                    :first-child {
                        min-width: 90px;
                    }
                    :nth-child(2) {
                        min-width: 80px;
                    }
                    :nth-child(3) {
                        min-width: 100px;
                    }
                }
                tr:nth-child(2n + 1) {
                    background-color: rgb(230, 230, 230);
                }
                tr:nth-last-child(5) {
                    font-weight: bold;
                    color: rgb(68, 71, 255);
                    font-size: 20px;
                    border-bottom: 1px solid gray;
                }
            }
            .avg-row {
                border: 1px solid rgb(184, 184, 184);
                background-color: rgb(255, 239, 233) !important;
            }
            .avg-row:last-child {
                color: rgb(68, 71, 255);
                font-weight: bold;
                font-size: 20px;
                border: 1px solid rgb(184, 184, 184);
                background-color: rgb(255, 242, 199) !important;
            }
        }
    }
}

.div-result-work {
    display: flex;
    justify-content: space-around;
    p {
        font-size: 25px;
        background-color: rgb(202, 244, 255);
        width: 48%;
        padding: 10px 0;
        margin-top: 10px;
        border-radius: 5px;
    }
    p:last-child {
        background-color: rgb(255, 226, 237);
    }
}

.div-result-timechart div div svg g {
    
}